<form [ngFormModel]="form">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="username" ngControl="username" #username="ngForm">
  </div>

	<div *ngIf="username.errors.underscorenotfound" class="alert alert-danger">
		<stron> should be found </stron>
	</div>

		<div *ngIf="username.touched && username.errors">
		<stron> should be found </stron>
	</div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="password" ngControl="password" #password="ngForm">
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>